In [2]:
import pandas as pd
import numpy as np

df=pd.DataFrame(np.random.randn(4,3), index=['a','c','d','f'],
                                    columns=['one','two','three'])
df = df.reindex(['a','b','c','d','e','f'])
print("Original Dataframe with NaN\n",df)
print("\n")
print("Dropped DataFrame\n",df.dropna())
print("\n")

Original Dataframe with NaN
         one       two     three
a  0.916437 -0.109777  1.475778
b       NaN       NaN       NaN
c  1.020393 -1.563974  0.515436
d  0.002143  0.491730  0.533110
e       NaN       NaN       NaN
f -0.976302 -0.349615  1.038401


Dropped DataFrame
         one       two     three
a  0.916437 -0.109777  1.475778
c  1.020393 -1.563974  0.515436
d  0.002143  0.491730  0.533110
f -0.976302 -0.349615  1.038401

In [4]:
df=pd.DataFrame(np.random.randn(4,3), index=['a','c','d','f'],
                                    columns=['one','two','three'])
df = df.reindex(['a','b','c'])
print("Original Dataframe:\n",df)
print("\n")
print("NaN replaced with '0':\n")
print(df.fillna(0))

Original Dataframe:
         one       two     three
a -0.483246 -1.146581 -0.885327
b       NaN       NaN       NaN
c  1.349089  1.721556  0.145952


NaN replaced with '0':

        one       two     three
a -0.483246 -1.146581 -0.885327
b  0.000000  0.000000  0.000000
c  1.349089  1.721556  0.145952

In [6]:
df=pd.DataFrame({'one':[10,20,80,40,50],
             'two':[60,70,80,0,10]})
print("Original Dataframe:\n",df)
print("\n DataFrame with replaced values:\n")
print(df.replace({10:5,80:3}))

Original Dataframe:
    one  two
0   10   60
1   20   70
2   80   80
3   40    0
4   50   10

 DataFrame with replaced values:

   one  two
0    5   60
1   20   70
2    3    3
3   40    0
4   50    5

In [7]:
df=pd.DataFrame(np.random.randn(4,3), index=['a','c','d','f'],
                                    columns=['one','two','three'])
df = df.reindex(['a','b','c','d','e','f'])
print("Original Dataframe:\n",df)
print("\nNan-with True fill:\n")
print(df['one'].isnull())

Original Dataframe:
         one       two     three
a -0.924569  0.865738 -0.461772
b       NaN       NaN       NaN
c -1.061374 -0.762320  1.722018
d -0.492766  0.947323  0.568534
e       NaN       NaN       NaN
f  0.348419  0.660224 -1.449591

Nan-with True fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [8]:
df=pd.DataFrame(np.random.randn(4,3), index=['a','c','d','f'],
                                    columns=['one','two','three'])
df = df.reindex(['a','b','c','d','e','f'])
print("Original Dataframe:\n",df)
print("\nNaN - Filled with Background values:\n")
print(df.fillna(method='bfill'))

Original Dataframe:
         one       two     three
a  0.212458 -0.411975 -1.444887
b       NaN       NaN       NaN
c -1.396201 -2.653264 -1.031415
d  0.699166  0.435224  0.419279
e       NaN       NaN       NaN
f -0.032647 -0.985738 -1.576168

NaN - Filled with Background values:

        one       two     three
a  0.212458 -0.411975 -1.444887
b -1.396201 -2.653264 -1.031415
c -1.396201 -2.653264 -1.031415
d  0.699166  0.435224  0.419279
e -0.032647 -0.985738 -1.576168
f -0.032647 -0.985738 -1.576168