In [3]:
import pandas as pd
d1={
    "name":["sai","sub","poo"],
    "age":[20,21,22]
}
d2={
    "qualified":[True,True,False]
}
df1=pd.DataFrame(d1)
print("DF1:\n",df1)
df2=pd.DataFrame(d2)
print("DF2:\n",df2)
newdf=df1.join(df2)
print("Joining:\n",newdf)

DF1:
   name  age
0  sai   20
1  sub   21
2  poo   22
DF2:
    qualified
0       True
1       True
2      False
Joining:
   name  age  qualified
0  sai   20       True
1  sub   21       True
2  poo   22      False

In [9]:
df1=pd.DataFrame([[11,12],[3,4]])
df2=pd.DataFrame([[5,6],[7,8]])
def myfunc(a,b):
    if(a.sum()>b.sum()):
        return a
    else:
        return b
print(df1)
print(df2)
print(df1.combine(df2,myfunc))

    0   1
0  11  12
1   3   4
   0  1
0  5  6
1  7  8
    0   1
0  11  12
1   3   4

In [13]:
d1={
    "name":["sai","sub","poo"],
    "age":[20,21,22]
}
d2={
    "name":["yuvi","rithika","sanjay"],
    "age":[15,16,17]
}
df1=pd.DataFrame(d1)
print("DF1:\n",df1)
df2=pd.DataFrame(d2)
print("DF2:\n",df2)
newdf1=df1.merge(df2, how='left')
newdf2=df1.merge(df2, how='right')
print("Left Merge:\n",newdf1)
print("Rgiht Merge:\n",newdf2)

DF1:
   name  age
0  sai   20
1  sub   21
2  poo   22
DF2:
       name  age
0     yuvi   15
1  rithika   16
2   sanjay   17
Left Merge:
   name  age
0  sai   20
1  sub   21
2  poo   22
Rgiht Merge:
       name  age
0     yuvi   15
1  rithika   16
2   sanjay   17

In [15]:
df=pd.DataFrame({'team':['A','B','C','D'],
                 'points':[90,56,78,88],
                 'assists':[12,34,23,44],
                 'rebounds':[56,43,55,12]
                })
print(df)
df=pd.melt(df,id_vars='team',value_vars=['points','assists','rebounds'])
print("\nReshaped:\n",df)

  team  points  assists  rebounds
0    A      90       12        56
1    B      56       34        43
2    C      78       23        55
3    D      88       44        12

Reshaped:
    team  variable  value
0     A    points     90
1     B    points     56
2     C    points     78
3     D    points     88
4     A   assists     12
5     B   assists     34
6     C   assists     23
7     D   assists     44
8     A  rebounds     56
9     B  rebounds     43
10    C  rebounds     55
11    D  rebounds     12