In [1]:
import pandas as pd
d=pd.read_csv("D:\emp.csv")
print(d)

    First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
0      Douglas    Male    8/6/1993        12:42 PM   97308    6.945
1       Thomas    Male   3/31/1996         6:53 AM   61933    4.170
2        Maria  Female   4/23/1993        11:17 AM  130590   11.858
3        Jerry    Male    3/4/2005         1:00 PM  138705    9.340
4        Larry    Male   1/24/1998         4:47 PM  101004    1.389
..         ...     ...         ...             ...     ...      ...
995      Henry     NaN  11/23/2014         6:09 AM  132483   16.655
996    Phillip    Male   1/31/1984         6:30 AM   42392   19.675
997    Russell    Male   5/20/2013        12:39 PM   96914    1.421
998      Larry    Male   4/20/2013         4:45 PM   60500   11.985
999     Albert    Male   5/15/2012         6:24 PM  129949   10.169

    Senior Management                  Team
0                True             Marketing
1                True                   NaN
2               False               Finance
3                True               Finance
4                True       Client Services
..                ...                   ...
995             False          Distribution
996             False               Finance
997             False               Product
998             False  Business Development
999              True                 Sales

[1000 rows x 8 columns]

In [3]:
df=pd.DataFrame(d)
print("Columns",df.columns)

Columns Index(['First Name', 'Gender', 'Start Date', 'Last Login Time', 'Salary',
       'Bonus %', 'Senior Management', 'Team'],
      dtype='object')

In [4]:
print(df.shape)

(1000, 8)

In [5]:
print("Team",df['Team'])

Team 0                 Marketing
1                       NaN
2                   Finance
3                   Finance
4           Client Services
               ...
995            Distribution
996                 Finance
997                 Product
998    Business Development
999                   Sales
Name: Team, Length: 1000, dtype: object

In [6]:
print(df[5:9])

  First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
5     Dennis    Male   4/18/1987         1:35 AM  115163   10.125
6       Ruby  Female   8/17/1987         4:20 PM   65476   10.012
7        NaN  Female   7/20/2015        10:43 AM   45906   11.598
8     Angela  Female  11/22/2005         6:29 AM   95570   18.523

  Senior Management         Team
5             False        Legal
6              True      Product
7               NaN      Finance
8              True  Engineering

In [7]:
print("Particular person details",df.loc[10])

First Name              Louise
Gender                  Female
Start Date           8/12/1980
Last Login Time        9:01 AM
Salary                   63241
Bonus %                 15.132
Senior Management         True
Team                       NaN
Name: 10, dtype: object

In [10]:
print(d.loc[d['Salary']==101004])

  First Name Gender Start Date Last Login Time  Salary  Bonus %  \
4      Larry   Male  1/24/1998         4:47 PM  101004    1.389

  Senior Management             Team
4              True  Client Services

In [11]:
df=d['Salary']/999
print(df)

0       97.405405
1       61.994995
2      130.720721
3      138.843844
4      101.105105
          ...
995    132.615616
996     42.434434
997     97.011011
998     60.560561
999    130.079079
Name: Salary, Length: 1000, dtype: float64